
.btn {
  border: none;
  outline: none;
  border-radius: 3px;
  text-align: center;
  font-weight: 700;
}

.btn-dark {
  color: var(--light);
  border: 1px solid var(--light);
  transition: all 0.3s ease;
  background: transparent;
}

.btn-dark:hover{
  background: var(--light);
  color: var(--dark);
  transition: all 0.3s ease;
}

.btn-light {
  color: var(--dark);
  background: transparent;
  border: 1px solid var(--dark);
  transition: all 0.3s ease;
}

.btn-light:hover {
  color: var(--light);
  border: 1px solid var(--light);
  background: var(--dark);
  transition: all 0.3s ease;}

.btn-normal {
  color: var(--light);
  background: var(--normal);
}

.btn-small {
  height: 40px;
  width: 130px;
  padding: 3px 12px;
  font-size: 0.4rem;
}

.btn-medium {
  height: 40px;
  width: 150px;
  padding: 4px 14px;
  font-size: 0.4rem;
}

.btn-large {
  height: 50px;
  width: 170px;
  padding: 6px 16px;
  font-size: 0.4rem;
}