
.hero-section {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.hero-section.light {
  background: #ffffff;
}

.hero-section.light > * {
  color: #000000;
}

.hero-section.dark {
  background: #242a31;
}

.hero-section.dark > * {
  color: #ffffff;
}