
.card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #ffffff;
  width: 330px;
  height: 450px;
  border-radius: 9px;
}

.card-body {
  flex: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-heading {
  margin-top: 10px;
  font-size: 0.8rem;
  font-weight: 500;
  flex: 1;
}

.card-preview-image {
  position: relative;
  display: flex;
  flex: 2;
  align-self: center;
  justify-self: center;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.card-preview-image > img {
  position: relative;
  height: 95%;
  width: 95%;
  border-radius: 3px;
}

.card-container > * {
  color: #000000;
}

.description {
  line-height: 20px;
  position: relative;
  font-size: 0.4rem;
  font-weight: 400;
  width: 92%;
  letter-spacing: 3px;
  align-self: center;
  justify-self: center;
  /*background: #1349f7;*/
  align-items: center;
  justify-content: center;
}

.tools {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3px 7px;
  align-items: center;
  justify-content: center;
  text-align: center;
  justify-self: center;
  flex: 0.5;
}

.card-container .card-body > .btn {
  position: relative;
  font-size: 0.5rem;
  letter-spacing: 2px;
  line-height: 0;
  margin-bottom: 15px;
}

.card-container.dark {
  background: #000000;
}

.card-container.dark > * {
  color: #ffffff;
}

.card-container.light {
  background: #ffffff;
}

.card-container.light > * {
  color: #242A31;
}