
.hero-section {
  flex-direction: column;
}

.hero-section .hero-body {
  position: relative;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}

.hero-body-content {
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: flex-end;
  width: 92vw;
  align-self: center;
}

.heading{
  align-self: flex-start;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 2px;
}

.heading span {
  position: relative;
  font-size: inherit;
  color: #1349f7;
}

.heading span:hover {
  color: #426efa;
  transition: 0.3s all ease-out;
}

.info {
  position: relative;
  align-self: flex-start;
  width: 250px;
  font-size: 0.5rem;
  font-weight: 300;
  margin-top: -5px;
  line-height: 25px;
}

.btn {
  align-self: center;
  font-weight: 500;
  font-size: 0.4rem;
  letter-spacing: 5px;
  cursor: pointer;
  box-shadow: 3px 3px 10px #3e3e3e;
  outline: none;
  border: none;
}

.hero-body > .btn:hover {
  background: var(--light) !important;
  color: var(--dark);
  border: none;
}