ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  font-size: 0.7rem;
}

.nav-container {
  display: flex;  
  flex-direction: row;
  background: #242A31;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.nav-container > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  margin: 0;
  justify-self: flex-end;
  transition: 0.3s;
}

.nav-container > ul > .close {
  display: none;
}

.navs {
  margin: 0.5rem;
  padding: 0.2rem 0.2rem;
}

.navs > a {
  font-size: 0.6rem;
}

.navs:nth-child(5){
  border: none;
  border-radius: 4px;
  padding: 0.3rem 1.2rem;
  background: #ffffff;
  text-align: center;
  transition: all 0.3s ease;
}

.navs:nth-child(5) > a{
  position: relative;
  align-self: center;
  justify-self: center;
  color: #000000;
  font-size: 0.6rem;
  font-weight: 400;
  transition: all 0.3s ease;
}

.navs:nth-child(5):hover{
  background: #000000;
  transition: all 0.2s ease;
}
.navs:nth-child(5):hover > a{
  color: #ffffff;
  transition: all 0.2s ease;
}

.navs:nth-child(2):hover,
.navs:nth-child(3):hover,
.navs:nth-child(4):hover {  
  border-bottom: 1px solid whitesmoke;
  transition: cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.3s;
  padding: 7px;
}

.logo {
  cursor: pointer;
  position: relative;
  font-weight: 400;
  float: left;
  font-size: 0.8rem;
  color: white;
}

.logo:hover {
  background: transparent;
  border-bottom: none;
}

.active {
  display: flex;
}

.inactive {
  display: none;
  right: -120%;
}


.menu {
  display: none;
  position: relative;
  height: 50px;
  width: 45px;  
  border-radius: 3px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 10px;
  transition: all 0.3s ease;
  align-self: center;
  justify-self: center;
}

.menu .part {
  display: none;
  position: relative;
  height: 2px;
  width: 80%;
  background: #444;
  border-radius: 8px;
  text-decoration: none;
  outline: none;
  border: none;
}

@media only screen and (max-width: 730px){

 .nav-container {
   width: 100vw;
   height: 60px;
 }

  .nav-container > .menu {
    display: flex!important;
  }

  .nav-container > ul {
    position: fixed;
    display: none;
    background: #242424;
    margin: 0;
    flex-wrap: wrap;
    top: 0;
    z-index: 2;
    right: 0;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.3s ease;
  }
  .nav-container > ul > .close {
    display: block;
    cursor: pointer;
    position: absolute;
    color: white;
    background: transparent;
    border: none;
    outline: none;
    text-decoration: none;
    top: 0;
    font-weight: 200;
    left: 20px;
    font-weight: 200;
    font-size: 1.5rem;
  }

  .nav-container > ul > .close:hover {
    border: none;
    outline: none;
  }

  .nav-container > .menu {
    cursor: pointer;
    display: block;
    background: transparent;
  }

  .nav-container .menu .part {
    display: block;
    background: whitesmoke;
    outline: none;
    border: none;
  }
  
  
.active {
  display: flex!important;
}

.hidden {
  display: none;
}

}
