ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  font-size: 0.7rem;
}

.nav-container {
  display: flex;
  flex-direction: row;
  background: #333;
  justify-content: space-around;
  align-items: center;
  height: 70px;
}

.nav-container > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  margin: 0;
}

.navs {
  margin: 0.3rem;
  padding: 0.2rem 0.2rem;
}

.navs:hover {
  background: #929292;
  transition: linear 0.3s;
}

.logo {
  position: relative;
  font-weight: 400;
  flex: 1;
  margin-left: 20px;
}

.logo:hover {
  background: #333;
}

.menu {
  display: none;
  position: relative;
  height: 50px;
  width: 50px;  
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}

.menu .part {
  display: none;
  position: relative;
  height: 5px;
  width: 100%;
  background: #444;
  margin-top: 10px;
}

@media only screen and (max-width: 730px){
  .nav-container > ul {
    display: none;
  }

  .nav-container > .menu {
    display: block;
  }

  .nav-container .menu .part {
    display: block;
    background: whitesmoke;
  }
}
