@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,200;1,300&display=swap');

:root {
  --dark: #000000;
  --light: #ffffff;
  --medium_light: #f7eaead2;
  --normal: blue;
  --green: #17d705;
  --blue_ryb: #473BF0;
  --blue_bell: #9B9ECE;
  --blue_crayola: #ACADBC;
  --blue_medium_state: #6665DD;
}

* {
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    scroll-behavior: smooth;
}
